# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.myenv/
.venv/
venv/
env/
.env/

# IDE/editor settings
.vscode/
.idea/

# Mac system files
.DS_Store

# Data
data/
*.json
*.csv

# Api Keys
api_keys.env